@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
    /* Fonts */
    --font-sans: var(--font-latin-sans), var(--font-cjk-sans);
    --font-mono: var(--font-latin-mono), var(--font-cjk-sans);

    /* Background */
    --color-background: var(--background);
    --color-accent: var(--color-senary);
    --color-card: var(--background-card);
    --color-float: var(--background-float);

    /* Foreground */
    --color-theme: var(--theme);
    --color-danger: var(--danger);

    --color-primary: var(--foreground);
    --color-secondary: color-mix(in oklab, var(--foreground) 55%, transparent);
    --color-tertiary: color-mix(in oklab, var(--foreground) 40%, transparent);
    --color-quaternary: color-mix(in oklab, var(--foreground) 30%, transparent);
    --color-quinary: color-mix(in oklab, var(--foreground) 22.5%, transparent);
    --color-senary: color-mix(in oklab, var(--foreground) 12.5%, transparent);

    /* Border */
    --color-border: var(--border);

    --spacing-header-height: calc(var(--spacing) * 16); /* h-16 = 64px */
}

:root {
    --background: var(--color-white);
    --background-card: var(--color-white);
    --background-float: var(--color-gray-200);

    --foreground: var(--color-gray-950);

    --border: var(--color-gray-200);

    --theme: #00a2ff;
    --danger: var(--color-red-500);
}

.dark {
    --background: var(--color-gray-950);
    --background-card: var(--color-gray-900);
    --background-float: var(--color-gray-700);

    --foreground: var(--color-gray-50);

    --border: var(--color-gray-800);

    --theme: #1aabff;
    --danger: var(--color-red-400);
}

/* Layout */

.wrapper {
    @apply flex justify-center;
    .container {
        @apply w-full max-w-5xl px-6 transition-all sm:px-8;
    }
}

/* Typography */

.proportional {
    font-feature-settings: 'palt'; /* Proportional alternative widths */
}

.passage {
    overflow-x: hidden;

    /* Headings */
    h2 {
        @apply mt-10 mb-4 text-2xl font-semibold first:mt-3 sm:text-3xl;
        font-feature-settings: 'palt';
    }
    h3 {
        @apply mt-8 mb-3.5 text-xl font-semibold first:mt-2 sm:text-2xl;
        font-feature-settings: 'palt';
    }
    h4 {
        @apply mt-6 mb-3 text-lg font-semibold first:mt-1 sm:text-xl;
        font-feature-settings: 'palt';
    }

    /* Text */
    p {
        @apply text-primary/95 mb-5 leading-relaxed;
    }
    a {
        @apply text-theme font-medium transition-all hover:brightness-95 dark:hover:brightness-105;
        @apply decoration-theme underline-offset-3 hover:underline;
    }
    blockquote {
        @apply border-border mt-6 border-l-2 pl-4 italic;
    }
    strong {
        @apply text-primary font-semibold;
    }

    /* List */
    ul {
        @apply my-4 list-disc pl-6;
    }
    ol {
        @apply my-4 list-decimal pl-6;
    }
    li {
        @apply mt-2 leading-relaxed;
    }

    /* Code */
    pre {
        @apply bg-transparent!;
        &:not(&:has(pre)) {
            @apply bg-float/40! mb-5 overflow-x-auto rounded-lg px-4! py-3!; /* Only applied to deepest-level if nested */
        }
    }
    code {
        @apply font-mono! text-[15px] leading-normal font-normal;
        &:not(pre *) {
            @apply bg-float/40 dark:bg-float/50 rounded-md px-1.5 py-0.5; /* Inline code */
        }
    }

    /* Image */
    figure {
        @apply mb-5 flex flex-col gap-2 pt-1;
    }
    img {
        @apply bg-accent/50 border-border max-h-[75vh] self-start rounded-lg border;
    }
    figcaption {
        @apply text-secondary text-sm leading-relaxed;
    }

    /* Table */
    .table-container {
        @apply border-border mb-5 overflow-x-auto rounded-lg border;
    }
    table {
        @apply w-full table-auto caption-bottom;
    }
    thead > tr {
        @apply bg-float/40 dark:bg-float/50 border-border border-b **:font-semibold;
    }
    tbody > tr {
        @apply border-border not-last:border-b;
    }
    th,
    td {
        @apply px-4 py-2 text-left tabular-nums [&[align=center]]:text-center [&[align=right]]:text-right;
    }

    /* Other */
    hr {
        @apply border-border my-6 sm:my-8 lg:my-10;
    }
}
