@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
    /* Fonts */
    --font-sans: var(--font-latin-sans), var(--font-cjk-sans);
    --font-mono: var(--font-latin-mono), var(--font-cjk-sans);

    /* Background */
    --color-background: var(--background);
    --color-accent: var(--color-senary);
    --color-card: var(--background-card);
    --color-float: var(--background-float);

    /* Foreground */
    --color-theme: var(--theme);
    --color-danger: var(--danger);

    --color-primary: var(--foreground);
    --color-secondary: color-mix(in oklab, var(--foreground) 55%, transparent);
    --color-tertiary: color-mix(in oklab, var(--foreground) 40%, transparent);
    --color-quaternary: color-mix(in oklab, var(--foreground) 30%, transparent);
    --color-quinary: color-mix(in oklab, var(--foreground) 22.5%, transparent);
    --color-senary: color-mix(in oklab, var(--foreground) 12.5%, transparent);

    /* Border */
    --color-border: var(--border);

    --spacing-header-height: calc(var(--spacing) * 16); /* h-16 = 64px */
}

:root {
    --background: var(--color-white);
    --background-card: var(--color-white);
    --background-float: var(--color-gray-200);

    --foreground: var(--color-gray-950);

    --border: var(--color-senary);

    --theme: #00a2ff;
    --danger: var(--color-red-500);
}

.dark {
    --background: var(--color-gray-950);
    --background-card: var(--color-gray-900);
    --background-float: var(--color-gray-700);

    --foreground: var(--color-gray-50);

    --border: var(--color-senary);

    --theme: #1aabff;
    --danger: var(--color-red-400);
}

.wrapper {
    @apply flex justify-center;
    .container {
        @apply mx-6 w-full max-w-5xl transition-all sm:mx-8;
    }
}
